body{
	margin:0;
	background-color: #F3F3F4;
}
.picture {
	display: flex;
	justify-content: center;
	background-size: auto;
	position: relative;
	margin:0;
}
a{
	color: transparent;
	position: absolute;
	width: 780px;
	line-height: 100px;
	top: 420px;
	left: 100px;
	background-color: transparent;
	border:none;
}
.pic{
	width: 100%;
	z-index: 0;
}