body{
	margin:0;
	background-color: #F3F3F4;
}
.picture {
	display: flex;
	justify-content: center;
	background-size: auto;
	position: relative;
	width: 100%;
	margin:0;
}
a{
	color: transparent;
	position: absolute;
	width: 290px;
	line-height: 30px;
	top: 170px;
	background-color: transparent;
	border:none;
}